<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Suplementos GYM</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/shop-homepage.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<style>
  .logotipo {
    color: rgb(255, 255, 255);
    font-family: 'Courgette', cursive;;
  }
</style>

<body>
  <!-- Barra de Navegación primaria -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:5rem">
    <img width="7%" src="static/captura.png">&nbsp;<h4 class="logotipo">CENTRO FITNESS</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entrenamientos">Entrenamientos personalizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dietas">Dietas</a>
          </li>
      </ul>
    </div>
  </nav>
  <br>

  <!-- Barra de Navegación secundaria, selectora de productos -->
  <nav aria-label="breadcrumb style="width:3rem"">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><b>Suplementos alimenticios:</b></li>
        <li class="breadcrumb-item"><a href="Proteinas">Proteinas</a></li>
        <li class="breadcrumb-item"><a href="Aminoacidos">Aminoacidos</a></li>
        <li class="breadcrumb-item"><a href="Ganadores">Ganadores</a></li>
        <li class="breadcrumb-item"><a href="Accesorios">Accesorios de Gym</a></li>
      <!--barra de busqueda de productos -->
      &nbsp;&nbsp;&nbsp;&nbsp;
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="Producto" placeholder="Producto" aria-label="Producto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
     </ol>
  </nav>

<div class="container">
  <p>Por favor envía un whats app a alguno de los siguientes números para hacerte llegar el producto, si necesitas alguna dieta o entrenamiento.  <br>
  Centro Fitness esta comprometido a hacerte llegar el producto lo más rápido posible y en buen estado. Se realiza deposito interbancario o deposito Oxxo. <br>
  Gracias por tu confianza.</p> <br><br>
  <p><img with="25" height="20" src="https://img2.freepng.es/20180427/pke/kisspng-encapsulated-postscript-telephone-computer-icons-phones-vector-5ae2c80e868ed4.5133217615248117905512.jpg"><img with="25" height="25" src="https://blog.movical.net/wp-content/uploads/2018/01/ver-los-mensajes-eliminados-de-WhatsApp-1013x1024.png"> (477)1271951 León,Guanajuato con Iván Cuéllar</p>
  <p><img with="25" height="20" src="https://img2.freepng.es/20180427/pke/kisspng-encapsulated-postscript-telephone-computer-icons-phones-vector-5ae2c80e868ed4.5133217615248117905512.jpg"><img with="25" height="25" src="https://blog.movical.net/wp-content/uploads/2018/01/ver-los-mensajes-eliminados-de-WhatsApp-1013x1024.png"> (464)1361587 Salamanca,Guanajuato con Jesús Brizuela</p>
<br>
<a href="/" class="btn btn-primary">Volver a inicio</a>
<a href="/compra" class="btn btn-primary">Elegir otra forma de pago</a>
</div>



<br><br><br><br><br><br><br><br><br>
  <!-- código para poner Footer parte de abajo de la página -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Importaciones de Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>
</html>
