<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Suplementos GYM</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/shop-homepage.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<style>
  .logotipo {
    color: rgb(255, 255, 255);
    font-family: 'Courgette', cursive;;
  }
</style>

<body>
  <!-- Barra de Navegación primaria -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:5rem">
    <img width="7%" src="static/captura.png">&nbsp;<h4 class="logotipo">CENTRO FITNESS</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entrenamientos">Entrenamientos personalizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dietas">Dietas</a>
          </li>
      </ul>
    </div>
  </nav>
  <br>

  <!-- Barra de Navegación secundaria, selectora de productos -->
  <nav aria-label="breadcrumb style="width:3rem"">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><b>Suplementos alimenticios:</b></li>
        <li class="breadcrumb-item"><a href="Proteinas">Proteinas</a></li>
        <li class="breadcrumb-item"><a href="Aminoacidos">Aminoacidos</a></li>
        <li class="breadcrumb-item"><a href="Ganadores">Ganadores</a></li>
        <li class="breadcrumb-item"><a href="Accesorios">Accesorios de Gym</a></li>
      <!--barra de busqueda de productos -->
      &nbsp;&nbsp;&nbsp;&nbsp;
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="Producto" placeholder="Producto" aria-label="Producto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
     </ol>
  </nav>

  <!--Código para poner texto de instroducción a la página -->
      <div class="container-fluid">
        <h1 class="mt-4">Centro Fitness</h1>
        <p>Somos una grupo que incentiva al desarrollo muscular promoviendo la venta de productos de la mejor calidad a un precio competitivo, entrenamientos con instructores certificados y dietas personalizadas para tu objetivo. </p>
        <p>Si te gusta y estar por empezar una vida fitness, nosotros te ayudaremos a que lo logres y mucho más rápido. Todo se puede lograr si uno pone empeño y esfuerzo </p><br>
        <p>Solicita nuestros productos, entrenamientos y dietas vía telefonica a los siguientes teléfonos:</p>
        <p><img with="25" height="20" src="https://img2.freepng.es/20180427/pke/kisspng-encapsulated-postscript-telephone-computer-icons-phones-vector-5ae2c80e868ed4.5133217615248117905512.jpg"><img with="25" height="25" src="https://blog.movical.net/wp-content/uploads/2018/01/ver-los-mensajes-eliminados-de-WhatsApp-1013x1024.png"> (477)1271951 León,Guanajuato con Iván Cuéllar</p>
        <p><img with="25" height="20" src="https://img2.freepng.es/20180427/pke/kisspng-encapsulated-postscript-telephone-computer-icons-phones-vector-5ae2c80e868ed4.5133217615248117905512.jpg"><img with="25" height="25" src="https://blog.movical.net/wp-content/uploads/2018/01/ver-los-mensajes-eliminados-de-WhatsApp-1013x1024.png"> (464)1361587 Salamanca,Guanajuato con Jesús Brizuela</p>
      </div>
      <center>
         <h2 class="mt-4">Casos de éxito:</h2>
      </center>

<!--Código para poner carrusel con fotos de antes y después -->
<center>
  <div class="col-lg-9"> <!--c-->

      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="static/1.jpg" alt="First slide" width="1000px" height="500px">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="static/2.jpg" alt="Second slide" width="1000px" height="500px">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="static/3.jpg" alt="Third slide" width="1000px" height="500px">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div> <!--c-->
</center>

<!--Código para poner los productos
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100" style="width: 18rem">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
      -->



  <!-- código para poner Footer parte de abajo de la página -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Importaciones de Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>
</html>
