<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Suplementos GYM</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/shop-homepage.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>
<style>
  .logotipo {
    color: rgb(255, 255, 255);
    font-family: 'Courgette', cursive;;
  }
</style>

<body>
  <!-- Barra de Navegación primaria -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:5rem">
    <img width="7%" src="static/captura.png">&nbsp;<h4 class="logotipo">CENTRO FITNESS</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entrenamientos">Entrenamientos personalizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dietas">Dietas</a>
          </li>
      </ul>
    </div>
  </nav>
  <br>

  <!-- Barra de Navegación secundaria, selectora de productos -->
  <nav aria-label="breadcrumb style="width:3rem"">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><b>Suplementos alimenticios:</b></li>
        <li class="breadcrumb-item"><a href="/Proteinas">Proteinas</a></li>
        <li class="breadcrumb-item"><a href="/Aminoacidos">Aminoacidos</a></li>
        <li class="breadcrumb-item"><a href="/Ganadores">Ganadores</a></li>
        <li class="breadcrumb-item"><a href="/Accesorios">Accesorios de gym</a></li>
      <!--barra de busqueda de productos -->
      &nbsp;&nbsp;&nbsp;&nbsp;
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="Producto" placeholder="Producto" aria-label="Producto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
     </ol>
  </nav>

  <!--barra lateral para hacer filtros en productos -->
  <div class="d-flex" id="wrapper"> <!--a-->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <!--Código para poner Botón y despliegue barra lateral -->
      <!--b <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Aparecer/Desaparecer Filtros</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
      </div> b-->
      <div class="sidebar-heading">Ordenar productos: </div>
      <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action bg-light">Menor Costo</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Mayor cantidad de proteina</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Mayor cantidad de aminoacidos</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Tipo de suplemento</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Mayor cantidad [gr]</a>
      </div>
    </div>

<!--Código para poner los productos
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100" style="width: 18rem">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>-->

        <div class="row">
          {% for item, contenido in proteinas.items() %}
          <div class="card" style="width: 11rem">
            <img src="{{ contenido.photo }}" width="150" height="150" class="card-img-top" alt="...">
            <div class="card-body">
              <center>
                <b>
                   <h6 class="card-title">{{ contenido.name }}</h6>
                   <font color=lime>
                      <h6 class="card-text">Costo: ${{ contenido.cost }}</h6>
                   </font>
               </b>
             </center>
             <h8 class="card-text"><b><font size=2> Tipo:</b> {{ contenido.tipo }}</h8></font>
             <h8 class="card-text"><b><font size=2> Contenido Total [kg]:</b>{{ contenido.cantidad }}</h8><br></font>
             <h8 class="card-text"><b><font size=2> Cantidad de Proteina [gr]: </b> {{ contenido.proteina }}</h8></font>
             <h8 class="card-text"><b><font size=2> Cantidad de amnoacidos [gr]: </b> {{ contenido.aminoacidos }}</h8></font>
             <h8 class="card-text"><b><font size=2> Otros componentes:</b>{{ contenido.otros }}</h8><br></font>
             {% if contenido.stock == True %}
             <span class="badge badge-pill badge-success">Disponible</span>
             {% else %}
             <span class="badge badge-pill badge-danger">No disponible</span>
             {% endif %}
             <a href="/compra" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          {% endfor %}
        </div>

  </div><!--a-->


  <!-- código para poner Footer parte de abajo de la página -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Importaciones de Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>
</html>
